# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
.Python
env/
.venv/
venv/
ENV/
*.egg-info/
dist/
build/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Uploads (archivos temporales)
uploads/*.xlsx
uploads/*.xls

# Alembic
alembic/versions/*.pyc
